body{
    background-color: cadetblue;
}

#eslogan{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    
    width: 90%;
    display: block;
    margin: auto;
}

#logotipo{
    display: block; /* con las propiedades display block y margin auto, centro la imagen */
    margin: auto;
    
}

.logoContainer{
    text-align: center;
    width: 90%;
    display: block;
    margin: auto;
    
}

ul{
    text-align: center; /* centra el nav*/
}
li{
    width: 100px; /*espaciado entre cada boton*/
    display: inline-block; /* permite colocar el nav en horizontal */
}

footer{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#containerMenu{
    
    background-color: bisque;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.subMenu{
    background-color: chocolate;
    width: 33%;
    height: 400px;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;

    display: flex;
    align-items: center;
    
}

.subMenu p{
    margin: auto;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}

  #containerCarrusel{
   
    background-color: aquamarine;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}
  
  #containerReview{
    
    background-color: azure;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}




